<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.DDB" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyAppTheme" >
        <activity
            android:name=".hardwire.app.splashScreen"
            android:label="@string/title_activity_splash_screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.DDB.hardwire.app.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.DDB.hardwire.app.pb_builder"
            android:label="@string/title_activity_pb_builder" >
        </activity>
        <activity
            android:name="com.DDB.hardwire.app.my_computer"
            android:label="@string/title_activity_my_computer" >
        </activity>
        <activity
            android:name="com.DDB.hardwire.app.inside_category"
            android:label="@string/title_activity_inside_category" >
        </activity>
    </application>
</manifest>
